body {
    background: -webkit-linear-gradient(left, rgb(160, 44, 255), #17ff4190);
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    color: #2c3e50;
    margin-top: 60px;
}
.table {
    color: rgba(54, 54, 54, 0.733) !important;
    background: #fff9f9f5;
    overflow:hidden;
    border:5px solid #fff9f9f5;
    width: 98% !important;
    list-style-type: none;
    margin: 5% auto 0;
    -moz-border-radius:5px; /* FF1+ */
    -webkit-border-radius:5px; /* Saf3-4 */
    border-radius:10px;
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    border-collapse: collapse;
    text-align: center;
}


.vs-con-table table {
    font-size: 1.5rem !important;

    
}
th .vs-table-text {
    font-size: 2rem;
     /* justify-content: center !important; */
} 

.vuesax-app-is-ltr .vs-table--search {
    margin-left: 2px !important;
    position: absolute;
    top: 60px;
}

.vs-table--search-input  {
    margin-top: 10px;
    border-radius: 50px !important;
    border: 1px solid rgba(0, 0, 0, 0.289) !important;
    font-size: 1.7rem !important;
}

.vuesax-app-is-ltr .vs-table--search i {
    font-size: 2rem !important;
    top:19px;
}

.vs-con-table {
    margin: 20px;
    padding-inline: 20px;
    background: #fbfbfb7e !important;
    padding-top: 3%;
} 

.vs-table--tbody-table tr {
   
    background: none !important;
}

button#create {
    margin-right: 30px !important;
}

.vs-table--tbody-table tr {
    background-color: none !important;
}

.modal-container[data-v-2f5625b0] {
    border-radius: 54px !important;
    ;
}

.modal-body[data-v-2f5625b0] {
    margin: 0 !important;
} 

#author, #title {
    width: 33%;
    border: 1px #b4b5b6 solid;
    height: 25px;
}

#trash {
    background: none;
    border: none;
    padding-left: 3rem;
}
/* 
.vs-con-table td {
    width: 31%;
} */
